
* {box-sizing: border-box}
* {font-family: "Lato", sans-serif;color: goldenrod;text-decoration: none;transition: .3s;}
* {z-index: 1; text-shadow: 0 0 2px;}

body {
  
  margin:0px;width:100%;
  height:100%;
  position:fixed;
  top: 0px;
  left: 0px;
  background-color:#111;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(src/a/03.jpg);
}

#clock{
  /* font-family: 'Orbitron', sans-serif; */
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 40px;
  text-shadow: 5px 5px 15px rgba(0,0,0,.5);
}

div.title {
    text-align: center;
}

/*tabs in a box*/
div#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    min-width: 500px;
    height: 40%;
    min-height: 300px;
    background-color: rgba(0,0,0,.3);
}
  
/* Style the tab */
.tab {
    background-color: rgba(0,0,0,0);  /* Color */
    width: 20%; 
}
  
  /* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;  /* Color */
    color: gold;  /* Color */
    padding: 18px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    height: 20%;
}
 
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgba(0,0,0,.3);  /* Color */
    text-shadow: 0 0 4px;
}
  
  /* Create an active/current "tab button" class */
.tab button.active {
    background-color: rgba(0,0,0,.5);  /* Color */
    text-shadow: 0 0 6px;
}
  
  /* Style the tab content */
.tabcontent {
    padding: 0px;
    width: 80%;
    border-left: none;
}
  
  /* slim down */
.tab, .tabcontent{
    float: left;
    height: 100%;
    /* border: 1px solid #ccc;*/  /*Color */
    /* background: repeating-linear-gradient(rgba(17,17,19,1), rgba(17,17,19,1) 1px, rgba(17,17,19,.3) 1px, rgba(17,17,19,.3) 2px); */

}

div#Todo.tabcontent{
  padding: 20px 50px;
}
  
div.links{
    position: absolute;
    top: 0px;
    width: 25%;
    height: 100%;
}

div#sidemenu1{
    position: fixed;
    width: 170px;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    top: 0px;
    left: -150px;
    opacity: 0;
    overflow: scroll;
    scrollbar-width: none;
    /* background: repeating-linear-gradient(rgba(17,17,19,1), rgba(17,17,19,1) 1px, rgba(17,17,19,.3) 1px, rgba(17,17,19,.3) 2px); */
}

div#sidemenu1:hover{
    left: 0px;
    opacity: 1;
}

div#sidemenu2{
    position: fixed;
    width: 170px;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    top: 0px;
    Right: -150px;
    opacity: 0;
    overflow: scroll;
    scrollbar-width: none;
    /* background: repeating-linear-gradient(rgba(17,17,19,1), rgba(17,17,19,1) 1px, rgba(17,17,19,.3) 1px, rgba(17,17,19,.3) 2px); */
}
  
div#sidemenu2:hover{
    Right: 0px;
    opacity: 1;
}

sidemenu2, iframe {
    height: 100%;
    border: 0px;
}
sidemenu, iframe {
  height: 100%;
  width: 100%;
  border: 0px;
}

li {
  list-style: none;
}

a.links:hover, a.sidelinks:hover {
    background-color: rgba(0,0,0,.5);
}

a.sidelinks{
    display: block;
    text-align: center;
    padding: 25px;
}

div#main div#submain{
    height:99.9%;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
}

div#main div#submain div{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
div#main div#submain div a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

/* div#main div#submain div a:hover{color: #555;} */
div#main div#submain div.one{grid-row: 1;}
div#main div#submain div.two{grid-row: 2;}
div#main div#submain div.three{grid-row: 3;}
div#main div#submain div.four{grid-row: 4;}

div#main div#submain div a:hover{
  background-color: rgba(0,0,0,.5);
  text-shadow: 0 0 4px;
}

#sclnbg::before{
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 99 !important; 
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  /* ^ This breaks a few things */
}

::-webkit-scrollbar {
  /* display: none; */
  width: 0;
}

.sidelinks{
  overflow: hidden;
}