<!-- <link href="layout.sides.css" rel="stylesheet" type="text/css"/> -->
<link href="sublayout.css" rel="stylesheet" type="text/css"/>
<base target="_blank">
<!-- Side menu Left -->
<div id="sidemenu">
    <a class="sidelinks" href="https://getmetastream.com/">MetaStream</a>
    <a class="sidelinks" href="https://twitch.tv/directory/following/live">Twitch</a>
    <a class="sidelinks" href="https://www.youtube.com/playlist?list=PLfKub_5UrXvYtDQG4t1HNJmgAy2EAIdvk">Música</a>
    <a class="sidelinks" href="https://mail.google.com/mail/u/0/?tab=wm#inbox">Gmail</a>
    <a class="sidelinks" href="https://comfytheatre.co.uk/">ComfyTheater</a>
    <a class="sidelinks" href="https://twitch.tv/directory/following/live">Twitch</a>
    <a class="sidelinks" href="https://twitch.tv/directory/following/live">Twitch</a>
    <a class="sidelinks" href="https://twitch.tv/directory/following/live">Twitch</a>
    <a class="sidelinks" href="https://twitch.tv/directory/following/live">Twitch</a>
    <a class="sidelinks" href="https://twitch.tv/directory/following/live">Twitch</a>
    <a class="sidelinks" href="https://twitch.tv/directory/following/live">Twitch</a>
    <a class="sidelinks" href="https://uboachan.net/x/" >uboa/x/</a>
    <a class="sidelinks" href="https://xchan.wtf/spky/index.html" >/spky/</a>
    <a class="sidelinks" href="http://boards.4chan.org/v/catalog" >/v/</a>
    <a class="sidelinks" href="http://boards.4chan.org/vg/catalog" >/vg/</a>
    <a class="sidelinks" href="http://boards.4chan.org/tg/catalog" >/tg/</a>
    <a class="sidelinks" href="https://sushigirl.us/lounge/" >/lounge/</a>
    <a class="sidelinks" href="https://www.lainchan.org/layer/index.html" >/layer/</a>
    <a class="sidelinks" href="http://boards.4chan.org/p/" >/p/</a>
    <a class="sidelinks" href="http://boards.4chan.org/ck/" >/ck/</a>
    <a class="sidelinks" href="http://boards.4chan.org/x/catalog" >/x/</a>
  </div>
  