<!-- <link href="layout.sides.css" rel="stylesheet" type="text/css"/> -->
<link href="sublayout.css" rel="stylesheet" type="text/css"/>
<base target="_blank">

<!-- <div class="panel2"> -->
<!-- Sidemenu RIGHT -->

    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >link</a></li>
    <li><a class="sidelinks" href="/" >example</a></li>

<!-- </div> -->