*{
    scrollbar-width: none;
    opacity: 1;
    /* background-color: rgba(0,0,0,.1); */
    text-shadow: 0 0 1px;
}

body{
    top: 0px;
    margin: 0;

    height: 100%;
    /* overflow: scroll; */
    scrollbar-width: none;
    /* position: fixed; */
    opacity: 1;
    background-color: rgba(0,0,0,.1);
}


a.sidelinks{
    display: block;
    text-align: center;
    padding: 25px;
}

a {font-family: "Lato", sans-serif;color: goldenrod;text-decoration: none;transition: .3s;}

li {
    list-style: none;
}

a.sidelinks:hover {
    background-color: rgba(0,0,0,.5);
    text-shadow: 0 0 4px;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
}